# Global
.env

# Traefik
/traefik/certs
/traefik/acme.json
/traefik/configs/*
/traefik/logs
/traefik/traefik.yml

# Authentik
/authentik/media
/authentik/certs
/authentik/custom-templates

# Netbird
/netbird/docker-compose.yml
/netbird/management.json
/netbird/openid-configuration.json
/netbird/turnserver.conf

# Wallos
/wallos/volume/*

# Webkram
/websites

# Uptime
/uptime-kuma/volumes
wallos/docker-compose.yaml
